cohere==5.20.1
dotenv==0.9.9
jupyter==1.1.1
openai==2.15.0
numpy==2.4.1
scipy==1.17.0
claude==0.4.11
anthropic==0.76.0
pandas==2.3.3
lxml==6.0.2
nbstripout==0.9.0
scikit_learn==1.8.0
seaborn==0.13.2
altair==6.0.0
unstructured==0.18.27
hnswlib==0.8.0
